#Calculate {
  width: 100%;
  height: 20px;
}

.main-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;

  width: 1fr;
  height: calc(100% - 20px)
}

.basic-key {
  background-color: lightgray;
}
