#main-container {
  display: flex;
}

#info-box {
  width: 90%;
}

#function-name {

}

#function-description {

}

#add-to-expression {
  width: 10%;
  // TODO: Fix button taking up entire space of main-container
}
